$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$black:#212121;
$yellow:#ffd20d;
$caramel:#f5f5f5;
$red:#cc1417;
$grey:#999999;
$blue:#4c7ea1;
@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif-Regular.woff') format('woff'),
      url('../fonts/PTSerif-Regular.ttf')  format('truetype'),
      url('../fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'PTSerif-Italic';
  src: url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/PTSerif-Italic.woff') format('woff'), 
       url('../fonts/PTSerif-Italic.ttf')  format('truetype'), 
       url('../fonts/PTSerif-Italic.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'PTSerif-BoldItalic';
  src: url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/PTSerif-BoldItalic.woff') format('woff'), 
       url('../fonts/PTSerif-BoldItalic.ttf')  format('truetype'), 
       url('../fonts/PTSerif-BoldItalic.svg#PTSerif-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/PTSerif-Bold.woff') format('woff'), 
       url('../fonts/PTSerif-Bold.ttf')  format('truetype'), 
       url('../fonts/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inspiration';
  src: url('../fonts/Inspiration.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Inspiration.woff') format('woff'), 
       url('../fonts/Inspiration.ttf')  format('truetype'), 
       url('../fonts/Inspiration.svg#Inspiration') format('svg');
  font-weight: normal;
  font-style: normal;
}
a:active,
a:focus{
  outline: 0;
  text-decoration: none;
}
.butt{
  font-size: 20px;
  font-family: 'PTSerif-Regular';
  color: $black;
  height: 60px;
  padding: 0 65px;
  line-height: 60px;
  background: $yellow;
  border-radius: 35px;
  transition:0.3s all;
  &:hover{
    background: #ffd20d;
    color:#7a650b;
    text-decoration: none;
    box-shadow: 0 3px 5px 5px #ffd20d57; 
  }
}
h2{
  font-size: 50px;
  font-family: 'PTSerif-Bold';
  color: $black;
  text-align: center;
  margin-bottom: 85px;
  margin-top: 0;
}
h3{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: 'PTSerif-Regular';
}
header{
  .header{
    height: 135px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 30px;
    &__tel{
      font-family: 'PTSerif-Regular';
      font-size: 30px;
      color:$black;
      padding-left: 40px;
      background: url('../images/tel-ic.png')no-repeat center left;
      &:hover{
        text-decoration: none;
      }
    }
    &__logo{
      transform:rotate(0deg);
      transition:0.3s all;
      animation:logorotate 0.5s 1;
      &:hover{
        transform:rotate(5deg);
      }
    }
  }
}
@keyframes logorotate{
  0%{
      transform:rotate(5deg);
  }
  30%{
      transform:rotate(5deg);
  } 
  100%{
      transform:rotate(0deg);
  }
}
.banner{
  height: 818px;
  background: url('../images/banner-bg.png')no-repeat;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 87px;
    &__text{
      height: 100%;
      width: 100%;
      display: flex;
      //background: url('../images/banner-text.png')no-repeat center;
      p{
        font-family: 'PTSerif-Regular';
        font-size: 70px;
        padding-top: 150px;
        padding-left: 25px;
      }
      &__freedom{
        &:before{
          content: '';
          position: relative;
          display: inline-block;
          left: 0;
          top: 0;
          background: url("../images/freedom.png")no-repeat center;
          height: 89px;
          width: 392px;
        }
      }
  }
}
.info-1{
  margin-bottom: 90px;
  &__inner{
    padding: 0 30px;
    h3{
      color: $red;
      margin-top: 16px;
      margin-bottom: 10px;
    }
    p{
      font-size: 16px;
      font-family: 'PTSerif-Regular';
      margin: 0;
    }
    &__list{
      margin-bottom: 40px;
      background: $caramel;
      display: flex;
      justify-content:space-between;
      align-items:flex-start;
      box-sizing:border-box;
      padding: 7px 15px;
      border-radius: 20px;
      &:nth-child(2n){
        border: 1px solid #e3e3e3;
        background: white;
      }
      img{
        margin-top: 5px;
      }
      &__info{
        display: flex;
        flex-direction:column;
        width: 75%;
        padding: 0 15px;
        box-sizing:border-box;
        &__block{
          padding-bottom: 30px;
          border-bottom: 1px solid #d5d5d6;
          ul{
            padding-left: 0;
            margin: 0;
            display: flex;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-between;
            li{  
              margin-top: 15px;
              font-size: 16px;
              font-family: 'PTSerif-Regular';
              display: flex;
              padding-left: 15px;
              width: 50%;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -2.5px;
                height: 5px;
                width: 5px;
                background: $red;
                border-radius: 50%;
              }
            }
          }
        }
        &__sum{
          padding-top: 16px;
          display: flex;
          justify-content:left;
          align-items:center;
          p{
            padding-right: 100px;
            font-size: 30px;
            font-family: 'PTSerif-Regular';
            color:$black;
            padding-top: 6px;
            b{
              font-size: 50px;
              color:$red;
              font-weight: normal;
              line-height: 0;
            }
            small{
              display: block;
              font-size: 16px;
            }
          }
          .butt{
            padding: 0 40px;
            margin-right: 50px;
          }
        }
      }
    }
  }
}
.info-2{
  padding-top:90px;
  padding-bottom: 80px;
  background: $black;
  h2{
    color: white;
  }
  &__inner{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    &__block{
      width: 50%;
      &.center{
        width: 60%;
      }
      p{
        height: 210px;
        font-size: 30px;
        font-family: 'PTSerif-Regular'; 
        display: flex;
      }
      &__a-left{
        padding-top: 40px;
        margin-left: 30px;
        padding-left: 40px; 
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        background: url('../images/info-2_arrow.png')no-repeat center left;
        &.img{
          justify-content:flex-start;
          flex-direction:row;
          align-items:center;
          padding-top: 0;
          img{
            margin-left: 25px;
          }
        }
        b{
          font-weight: normal;
          font-family: 'Inspiration';
          font-size: 120px;
          line-height: 0.5;
        }
        span{
          display: block;
        }
      }
      &__a-right{
        align-items:center;
        background: url('../images/info-2_arrow.png')no-repeat center right 150px;
        img{
          margin-right: 25px;
        }
      }
      &__yellow,
      &__red,
      &__blue{
        height: 210px;
        width: 540px;
        position: relative;
        display: flex;
        align-items:center;
        justify-content:space-between;
        z-index: 1;
        padding: 0 25px;
        p{
          position: relative;
          z-index: 1;
          height: auto;
        } 
        img{
          position: relative;
          z-index: 1;
          padding-right: 40px;
          max-height: 95%;
        }
        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top:0;
        }
        &:before{
          content: '';
          position: absolute;
          width: 99%;
          height: 99%;
          left: 0.5%;
          top:0.5%;
        }
      }
      &__yellow{
        p{
          display: inline-block;
          color:black !important;
        }
        &:after{
        background:url('../images/info-2-border.png')no-repeat center;
        background-size: cover; 
        }
        &:before{
          background: $yellow;
        }
        &__freedom{
          &:before{
            content: '';
            position: relative;
            display: inline-block;
            left: 0;
            top: 0;
            background: url("../images/freedom-small.png")no-repeat center;
            background-size: 165px;
            height: 38px;
            width: 165px;
          }
        }
      }
      &__red{
        &:after{
        background:url('../images/info-2-border_1.png')no-repeat center;
        background-size: cover; 
        }
        &:before{
          background: $red;
        }
      }
      &__blue{
        &:after{
        background:url('../images/info-2-border.png')no-repeat center;
        background-size: cover; 
        }
        &:before{
          background: $blue;
        }
      }
    }
    p{
      color:white;
      font-family: 'PTSerif-Regular';
    }
  }
}
.info-3{
  padding: 85px 0; 
  background: url('../images/banner-bg.png')no-repeat center;
  background-size: cover;
  &__vr-link{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 640px;
    width: 100%;
    background: url('../images/vr-img.png')no-repeat center;
    background-size: cover;
  }
}
.info-4{
  padding: 90px 0;
  &__row{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    &__item{
      width: 25%;
      padding: 10px;
      overflow: hidden;
      a{
      overflow: hidden; 
      height: 100%;
      width: 100%;
      display: inline-block;
        img{
          transition:0.3s all;
        }
        &:hover{ 
          img{
            transform:scale(1.1);
          }
        }
      }
    }
  }
}
    .map{
      height: 100% !important;
    }
.contacts{
  display: flex;
  &__map{
    width: 50%; 
    background-size: cover;\
  }
  &__info{
    width: 50%;
    padding-left: 65px;
    padding-top: 95px;
    padding-bottom: 120px;
    background: url('../images/contacts-bg.png')no-repeat left center,$black;
    h2{
      color:white;
      text-align: left;
    }
    span{
      font-size: 16px;
      font-family: 'PTSerif-Regular';
      color:$grey;
    }
    &__tel{
      p{
        font-size: 30px;
        font-family: 'PTSerif-Regular';
        color:white;
        margin-bottom: 0;
      }
      margin-bottom: 30px;
    }
    &__adress{
      p{
        font-size: 20px;
        font-family: 'PTSerif-Regular';
        color: white;
        margin-bottom: 0;
      }
      margin-bottom: 30px;
    }
    &__email{
      a{
        color:$yellow;
        display: block;
        font-size: 20px;
      }
      margin-bottom: 30px;
    }
    &__soc{ 
      ul{
        margin-top: 20px;
        display: flex;
        justify-content:flex-start;
        padding-left: 0;
        li{
          display: inline-block;
            a{
              display: inline-block;
              height: 41px;
              width: 41px;
            }
        }
      }
      &__fb{
        background:url('../images/fb.png')no-repeat center;
        margin-right: 15px;
        &:hover{
          background: url('../images/fb-h.png')no-repeat center;
        }
      }
      &__in{
        background:url('../images/in.png')no-repeat center;
        &:hover{
          background: url('../images/in-h.png')no-repeat center;
        }
      }
    }
  }
}
.footer{
  background: $red;
  display: flex;
  height: 65px;
  align-items:center;
  justify-content:space-around;
  &__copy{
    font-size: 16px;
    font-family: 'PTSerif-Regular';
    color: #f1a0a0;
    span{
      color: white;
    }
  }
}
// modal
.modal-dialog{
  width: 540px;
}
.modal-content{
  padding: 50px;
  text-align: center;
  width: 540px;
  box-sizing:border-box; 
  border-radius: 0;
  h3.black{
    color:black;
  }
  .modal__form{
    display: flex;
    flex-direction:column;
    padding-top: 10px;
    align-items:center;
    &__input{
      height: 60px;
      width: 100%;
      box-sizing:border-box;
      border:1px solid #dddddd;
      border-radius: 35px;
      padding: 27px;
      transition:0.3s all;
      margin-top: 20px;
      &:focus{
        outline: none;
        border-color: $red;
      }
    }
    &__submit{
      margin-top: 20px;
      width: auto;
      border:none;
      margin-right: 0;
      &:focus{
        outline: none;
      }
    }
    &__textarea{
      height: 120px;
      width: 100%;
      box-sizing:border-box;
      border:1px solid #dddddd;
      border-radius: 35px;
      padding: 27px;
      transition:0.3s all;
      margin-top: 20px;
      resize:none;
      &:focus{
        outline: none;
        border-color: $red;
      }
    }
  }
  span{
    font-size: 16px;
    font-family: 'PTSerif-Regular';
  }
}
button.close{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  opacity: 1;
  top:-20px;
  transition:0.3s all;
  right: -20px;
  box-shadow: 0 2px 1px 1px #fad8d8;
  span{
    display: inline-block;
    color:transparent;
    height: 13px;
    width:13px;
    background: url('../images/close.png')no-repeat center;   
    font-size: 0;
    position: relative;
    bottom: 7px;
  }
  &:focus{
    outline: 0;
  }
  &:hover{
    opacity: 1;
    box-shadow: 0 2px 2px 2px #fad8d8;
    span{ 
      background: url('../images/close-h.png')no-repeat center;
    }
  }
}
.fancybox-content{
  background: white !important; 
  img{
    margin-left: 7.5%;
    margin-top: 2.5%;
    max-width: 85% !important;;
    max-height: 95% !important;;
  }
}
button.fancybox-button.fancybox-button--close{
  border-radius: 50%;
  background: white;
}
button.fancybox-button.fancybox-button--close{
  position: absolute;
  right: -20px;
  top:-20px;
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.5px;
    margin-top: -6.5px;
    height: 13px;
    width: 13px;
    background: url('../images/close.png')no-repeat center;
  }
  &:hover{
    &::before{
    background: url('../images/close-h.png')no-repeat center;
    }
  }
}
.fancybox-navigation .fancybox-button--arrow_left{
  height: 65px;
  width: 34px;
  background: url('../images/arrow-left.png')no-repeat center;
  &:hover{
  background: url('../images/arrow-left-h.png')no-repeat center;
  }
  svg{
    display: none;
  }
}
.fancybox-navigation .fancybox-button--arrow_right{
  height: 65px;
  width: 34px;
  background: url('../images/arrow-right.png')no-repeat center;
  &:hover{
  background: url('../images/arrow-right-h.png')no-repeat center;
  }
  svg{
    display: none;
  }
}
@media screen and (min-width: 1450px){
  .container-1450{
    width: 1450px;
  }

  .header{
    padding: 0;
  }
}
@media screen and (max-width: 1300px){
  .banner__text{
    background-size: 90%;
  }
  .banner__text img{
    max-width: 400px;
    height: auto;
    object-fit: contain;
  }
  .banner__text p{
    font-size: 60px;
  }
  .banner__text p:before{
    width: 300px;
    background-size: 300px;
    height: 75px;
  }
}
@media screen and (max-width: 1200px){
  .info-2__inner__block__yellow, .info-2__inner__block__red, .info-2__inner__block__blue{
    height: 190px;
    width: 480px;
  }
  .info-2__inner__block img,
  .info-4__row__item a img{
    max-width: 100%;
  }
  .info-1__inner__list img{
    max-width:270px;
  }
}
@media screen and (max-width: 992px){
  .info-1__inner{
    padding: 0;
  }
  .info-2__inner__block__yellow, .info-2__inner__block__red, .info-2__inner__block__blue{
     height: 153px;
    width: 373px;

    p{
      height: auto !important;
    }
  }
  .info-2__inner__block__yellow__freedom:before{
        background-size: 130px;
    height: 28px;
    width: 130px;
  }
  .banner__text img{
    max-width: 275px;
  }
  .banner__text p{
    font-size: 50px;
  }
  .banner__text p:before{
    background-size: 200px;
    width: 200px;
    height: 50px;
  }
  header .header__tel{
    font-size: 24px;
  }
  .info-1__inner__list__info{
    padding: 0 0 0 15px;
  }
  .info-1__inner__list__info__block ul li{
    font-size: 14px;
  }
  .info-1__inner__list__info__sum p b{
    font-size: 40px;
  }
  .info-1__inner__list__info__sum p{
    font-size: 24px;
  }
  .info-1__inner__list__info__sum .butt{
    margin-right: 15px;
  }
  .butt{
    padding: 0 35px;
    font-size: 18px;
  }
  h3{
    font-size: 28px;
  }
  .info-2__inner__block p{
    font-size: 24px;
  }
  .contacts__info{
    padding-left:50px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .banner{
    height: 600px;
  }
  .info-3__vr-link{
    height: 500px;
  }
  .info-2__inner__block__a-right{
    background: url(../images/info-2_arrow.png) no-repeat center right 25px;
  }
  p.info-2__inner__block__a-right.img{
    padding-right: 20px;
  }
  h2{
    margin-bottom: 40px;
  }
  .info-2__inner__block p{
    height: 195px;
  }
  .info-2__inner__block img, .info-4__row__item a img{
    max-height: 50%;
  }
  .info-2__inner__block__a-left.img img{
    margin-left: 10px;
  }
}
@media screen and (max-width: 770px) {
  .info-2__inner__block__yellow img, .info-2__inner__block__red img, .info-2__inner__block__blue img{
    padding-right: 0;
  }
  body{
    overflow-x:hidden;
  }
  .info-1__inner__list{
    text-align: center;
    justify-content:center;
    align-items: center;
  }
  .info-1__inner__list__info__sum .butt{
    margin: 10px 0 0 0;
  }
  .info-1__inner__list__info__sum p{
    padding-right: 0;
    padding-top: 15px;
  }
  .banner__text{
    justify-content: space-around;
    align-items: center;
  }
  .banner__text img{
    max-width: 205px;
  }
  .banner__text p{
    font-size: 40px;
    padding-top:0;
  }
  .banner__text p:before{
    background-size: 150px;
    width: 150px;
    height: 40px;
  }
  .info-2__inner__block{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }
  p.info-2__inner__block__a-right.img{
    padding-right: 50px;
  }
  header {
    padding: 0 15px;
    .header__logo img{
      width: 180px;
    }
  }
  .info-4__row{
    justify-content: center;
  }
  .info-4__row__item{
    width: 33.3%;
  }
  .info-3__vr-link{
    width: 90%;
    margin-left: 5%;
    height: 375px;
  }
  h2{
    font-size: 36px;
    margin-bottom: 20px;
  }
  .contacts__info{
    padding: 40px 20px 60px 20px;
  }
  .contacts__info__tel{
    margin-bottom: 20px;
  }
  .contacts__info__tel p{
    font-size: 20px;
  }
  .contacts__info__adress p{
    font-size: 16px;
  }
  .contacts__info__email a{
    font-size: 16px;
  }
  .fancybox-slide--image .fancybox-content{
    width: 90%;
  }
  .banner{
    height:425px;
  }
  header .header__tel{
    padding-left: 30px;
    font-size: 20px;
  }
  .butt{
    height:50px;
    line-height: 50px;
  }
  h3{
    font-size: 24px;
  }
  .info-1__inner p{
    font-size: 14px;
  }
  .info-1__inner__list__info__block ul li{
    width: 100%;
  }
  .info-1__inner__list__info__sum{
    flex-direction: column;
    p{
      small{
        line-height: 0.8;
        margin-bottom: 15px;
      }
    }
  }
  .info-1__inner__list img{
    max-width: 220px;
  }
}
@media screen and (max-width: 560px){
  .banner__text img{
    max-width: 120px;
  }
  .banner__text p{
    padding-left: 10px;
    font-size: 16px;
    &:before{
      background-size: 85px;
      width: 85px;
      height: 22px;
    }
  }
  header .header{
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
  }
  .banner{
    height: 275px;
  }
  h2{
    font-size: 28px;
  }
  .info-1__inner__list{
    flex-direction: column;
  }
  .info-1__inner__list__info{
    width: 100%;
    padding: 0 10px;
  }
  .info-1__inner__list img{
    max-width: 170px;
    max-height: 200px;
    margin: 10px 0;
  }
  h3{
    font-size: 20px;
  }
  .info-1__inner__list__info__block{
    padding-bottom: 15px;
  }
  .info-1__inner__list__info__block ul li{
    margin-top: 10px;
  }
  .info-1__inner__list__info__sum{
    padding-top: 5px;
  }
  .info-2{
    padding-top: 40px;
  }
  .info-2__inner__block__a-left b{
    font-size: 85px;
  }
  .info-2__inner__block{
    padding-right: 10px;
  }
  .info-3__vr-link{
    height: 225px;
  }
  .info-4__row__item{
    width: 50%;
  }
  .info-2__inner__block p{
    height: auto;
    font-size: 18px;
    margin-left: 10px;
  }
  .info-2__inner__block img{
    max-height: 75px;
  }
  .info-2__inner__block.center{
    width: 100%;
    padding-right: 10px;
  }
  .contacts{
    flex-direction: column;
    &__info{
      width: 100%;
    }
  }
  .footer{
    flex-direction: column;
    height: 100px;
  }
  .modal-dialog{
    width: 95%;
    margin-left: 2.5%;
  }
  .modal-content .modal__form__input{
    height: 50px;
  }
  .modal-content{
    width: 95%;
    margin-left: 2.5%;
    padding: 50px 15px;
  }
  .fancybox-slide--image .fancybox-content{
    margin-left: 0;
  }
  button.fancybox-button.fancybox-button--close{
    left: 50%;
    top: -50px;
    margin-left: -22px;
  }
}